

.section{

    h3{
        text-align: center;
        margin-bottom: 2rem;
    }

    &-a{
        display: flex;
        justify-content: center;
        padding: 20px 0;
        background-image: linear-gradient(45deg,#95a0ac,#e5e9ef,#95a0ac);
    }

    &-b{
        display: flex;
        justify-content: center;
        padding: 20px 0;
        background-color: #e5e9ef;
    }

    &-popular{
        width: 100%;
        max-width: 1300px;
        margin-top: -80px;
        padding-bottom: 4rem;
        background-color: var(--white);
        box-shadow: inset 0 -10px 10px -10px rgb(130 130 130 / 10%);
    }



    .item{
        padding: 10px;
        display: flex;
        align-items: center;


        &:hover {
            background-color: #f2f4f7;
        }

        img{
            width: 48px;
            height: 48px;
            background: #fff;
            margin-right: 10px;
        }


        .meta{
            height: 37px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        &--title{

            &::before{
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                content: "";
            }

            &:hover{
                text-decoration: none;
            }

            line-height: 20px;
            font-size: 20px;
            color: #3490dc;
        }

        &--subtitle{
            text-transform: capitalize;
            font-size: 12px;
            color: #aaa;
            line-height: 1;
        }
    }


}
